<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/post.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	</head>

	<body>
		<nav><%- include('../partials/nav-bar') %></nav>
		<header><%- include('../partials/title-bar') %></header>

		<main class="page">
			<div class="recipe-page">
				<section class="grid-col-2">
					<img src="/img/NU66NMBU7VAG6IQRAVPNZ6THAI(1).png" alt="placeholder" />
					<article class="recipe-info">
						<h2><%= recipe.title%></h2>
						<p><%= recipe.description %></p>
						<p class="recipe-tags">
							<a href="/forum?tag=<%= recipe.tags.region %>"
								><%= recipe.tags.region %></a
							>
							<a href="/forum?tag=<%= recipe.tags.keyIngredient %>"
								><%= recipe.tags.keyIngredient %></a
							>
							<a href="/forum?tag=<%= recipe.tags.mealType %>"
								><%= recipe.tags.mealType %></a
							>
						</p>
						<p class="recipe-tags">
							<a href="/" class="btn btn-dark-outline"
								><i class="fas fa-thumbs-up"></i
							></a>
							<a href="/" class="btn btn-dark-outline"
								><i class="fas fa-thumbs-down"></i
							></a>
							<a href="/" class="btn btn-dark-outline"
								><i class="fas fa-share-alt"></i
							></a>
						</p>
					</article>
				</section>
				<!-- content -->
				<section class="recipe-content">
					<article>
						<h4>Instructions</h4>
						<% recipe.instructions.forEach((instruction, step) => { %>
						<div class="single-instruction">
							<header>
								<p>step <%= step + 1 %></p>
								<div></div>
							</header>
							<p><%= instruction %></p>
						</div>
						<% }) %>
					</article>
					<article class="second-column">
						<div>
							<h4>Ingredients</h4>
							<ul class="recipe-content-list">
								<% recipe.ingredients.forEach((ingredient) => { %>
								<li>
									<p class="single-ingredient"><%= ingredient %></p>
								</li>
								<% }) %>
							</ul>
						</div>
						<div>
							<h4>Tools</h4>
							<ul class="recipe-content-list">
								<% recipe.tools.forEach((tool) => { %>
								<li><p class="single-tool"><%= tool %></p></li>
								<% }) %>
							</ul>
						</div>
					</article>
				</section>
			</div>
		</main>

		<div class="divider"></div>

		<div class="comments-container">
			<ul class="comments">
				<% comments.forEach(comment => { %>
				<li>
					<p><%= comment.content %></p>
					<img src="https://i.pravatar.cc/50?img=13" alt="" />
				</li>
				<% }) %>
			</ul>
			<form action="/add-comment" method="post">
				<div class="form-group">
					<textarea
						class="form-control status-box"
						rows="3"
						placeholder="Enter your comment here"
						style="width: 100%; margin-bottom: 20px"
					></textarea>
				</div>
				<input type="submit" value="submit" class="btn" style="float: right" />
			</form>
		</div>

		<div class="divider"></div>

		<footer class="footer">
			<div class="footer-container">
				<p>© 2022 Indian Kitchen. All rights reserved.</p>
			</div>
		</footer>
	</body>
</html>
