<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/comments.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
	</head>

	<body>
		<nav><%- include('../partials/nav-bar') %></nav>
		<header><%- include('../partials/title-bar') %></header>

		<main class="page">
			<div class="recipe-page">
				<section class="grid-col-2">
					<img src="/img/NU66NMBU7VAG6IQRAVPNZ6THAI(1).png" alt="placeholder" />
					<div class="box-text">
						<h2 class="text-md"><%= recipe.title%></h2>
						<p class="text-sm"><%= recipe.description %></p>
						<a href="/post" class="btn btn-dark-outline"><%= recipe.tags.region %> </a>
						<a href="/post" class="btn btn-dark-outline"
							><%= recipe.tags.keyIngredient %></a
						>
						<a href="/post" class="btn btn-dark-outline"><%= recipe.tags.mealType %></a>
						<br />
						<a href="/post" class="btn btn-dark-outline"
							><i class="fas fa-thumbs-up"></i
						></a>
						<a href="/post" class="btn btn-dark-outline"
							><i class="fas fa-thumbs-down"></i
						></a>
						<a href="/post" class="btn btn-dark-outline"
							><i class="fas fa-share-alt"></i
						></a>
					</div>
				</section>
				<!-- content -->
				<section class="recipe-content">
					<article>
						<h4>Instructions</h4>
						<% recipe.instructions.forEach((instruction, step) => { %>
						<div class="single-instruction">
							<header>
								<p>step <%= step + 1 %></p>
							</header>
							<p><%= instruction %></p>
						</div>
						<% }) %>
					</article>
					<article class="second-column">
						<div>
							<h4>Ingredients</h4>
							<ul class="recipe-content-list">
								<% recipe.ingredients.forEach((ingredient) => { %>
								<li>
									<p class="single-ingredient"><%= ingredient %></p>
								</li>
								<% }) %>
							</ul>
						</div>
						<div>
							<h4>Tools</h4>
							<ul class="recipe-content-list">
								<% recipe.tools.forEach((tool) => { %>
								<li><p class="single-tool"><%= tool %></p></li>
								<% }) %>
							</ul>
						</div>
					</article>
				</section>
			</div>
		</main>

		<div class="divider"></div>

		<div class="comments-container">
			<ul id="comments-list" class="comments-list">
				<li>
					<div class="comment-main-level">
						<!-- Avatar -->
						<div class="comment-avatar">
							<img src="https://i.pravatar.cc/60?img=1" alt="" />
						</div>
						<!-- Contenedor del Comentario -->
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name by-author">
									<a href="http://creaticode.com/blog">Username 1</a>
								</h6>
								<span>hace 20 minutos</span>
								<i class="fa fa-reply"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="comment-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
								omnis animi et iure laudantium vitae, praesentium optio, sapiente
								distinctio illo?
							</div>
						</div>
					</div>
					<!-- Respuestas de los comentarios -->
					<ul class="comments-list reply-list">
						<li>
							<!-- Avatar -->
							<div class="comment-avatar">
								<img src="https://i.pravatar.cc/60?img=2" alt="" />
							</div>
							<!-- Contenedor del Comentario -->
							<div class="comment-box">
								<div class="comment-head">
									<h6 class="comment-name">
										<a href="http://creaticode.com/blog">Username 2</a>
									</h6>
									<span>hace 10 minutos</span>
									<i class="fa fa-reply"></i>
									<i class="fa fa-heart"></i>
								</div>
								<div class="comment-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
									omnis animi et iure laudantium vitae, praesentium optio,
									sapiente distinctio illo?
								</div>
							</div>
						</li>

						<li>
							<!-- Avatar -->
							<div class="comment-avatar">
								<img src="https://i.pravatar.cc/60?img=3" alt="" />
							</div>
							<!-- Contenedor del Comentario -->
							<div class="comment-box">
								<div class="comment-head">
									<h6 class="comment-name">
										<a href="http://creaticode.com/blog">Username 3</a>
									</h6>
									<span>hace 10 minutos</span>
									<i class="fa fa-reply"></i>
									<i class="fa fa-heart"></i>
								</div>
								<div class="comment-content">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
									omnis animi et iure laudantium vitae, praesentium optio,
									sapiente distinctio illo?
								</div>
							</div>
						</li>
					</ul>
				</li>

				<li>
					<div class="comment-main-level">
						<!-- Avatar -->
						<div class="comment-avatar">
							<img src="https://i.pravatar.cc/60?img=4" alt="" />
						</div>
						<!-- Contenedor del Comentario -->
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name">
									<a href="http://creaticode.com/blog">Username 4</a>
								</h6>
								<span>hace 10 minutos</span>
								<i class="fa fa-reply"></i>
								<i class="fa fa-heart"></i>
							</div>
							<div class="comment-content">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
								omnis animi et iure laudantium vitae, praesentium optio, sapiente
								distinctio illo?
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

		<div class="divider"></div>

		<footer class="footer">
			<div class="footer-container">
				<p>© 2022 Indian Kitchen. All rights reserved.</p>
			</div>
		</footer>
	</body>
</html>
